<div class="container">
 <div class="row">
   <div class="col">
<h1>配送先登録/一覧</h1>

<%= form_with model: @address, url: addresses_path do |f| %>

<table class="mb-5" width="70%">

<tr><th>郵便番号（ハイフンなし）</th><td><%= f.text_field :postal_code, placeholder: "0000000" %></td></tr>
<tr><th>住所</th><td><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0" %></td></tr>
<tr><th>宛名</th><td><%= f.text_field :name, placeholder: "令和道子" %></td><td><%= f.submit '新規登録', class: 'btn btn-success' %></td></tr>

<% end %>
</table>

<table border="1" width="70%" >
   <tr>
    <th>郵便番号</th>
    <th>住所</th>
    <th>宛名</th>
    <th></th>
  </tr>
  <% @addresses.each do |address| %>


  <tr>
    <td><%= address.postal_code %></td>
    <td><%= address.address %></td>
    <td><%= address.name %></td>
    <td><%= link_to "編集する", edit_address_path(address.id), class: 'btn btn-success' %> <%= link_to "削除する", address_path(address.id),method: :delete,class: 'btn btn-danger' %></td>
  </tr>

  <% end %>

</table>

   </div>
 </div>
</div>